<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body class="{{ .Type }} {{ .Params.BodyClass }}">
    <div class="content">
      {{- partial "header.html" . -}}

      <main id="page-content">
        {{ .Scratch.Set "bioMinimal" false }}
        {{- partial "bio.html" . -}}

        <section class="writing-section featured-recent">
          <h2 class="small-header">Recent posts</h2>
          {{- partial "wrote/featured.html" . -}}
        </section>

        <section class="featured-recent">
        {{ .Scratch.Set "quantity" 8 }}
        {{- partial "read/recent-books.html" . -}}
        </section>
          
        {{- partial "shared/recent.html" . -}}
      </main>
    </div>  
    {{- partial "footer.html" . -}}
  </body>
</html>