{{ $showImages := (.Scratch.Get "showImages")}}

<section id="reading">
  <h2>Recently read</h2>

  {{ with .Site.GetPage "section" "read" }}
    <h3>2019</h3>
    <ul>
    {{ range where .Pages.ByDate.Reverse "Params.book.year_read" 2019 }}
      {{ .Scratch.Set "showImages" $showImages }}
      {{ .Scratch.Set "showNotes" true }}
      {{ partial "read/single.html" . }}
    {{ end }}
    </ul>

    <h3>2018</h3>
    <ul>
      {{ range where .Pages.ByDate.Reverse "Params.book.year_read" 2018 }}
        {{ .Scratch.Set "showImages" $showImages }}
        {{ .Scratch.Set "showNotes" true }}
        {{ partial "read/single.html" . }}
      {{ end }}
    </ul>

    <h3>2017</h3>
    <ul>
      {{ range where .Pages.ByDate.Reverse "Params.book.year_read" 2017 }}
      {{ .Scratch.Set "showImages" $showImages }}
      {{ .Scratch.Set "showNotes" true }}
      {{ partial "read/single.html" . }}
      {{ end }}
    </ul>

  {{ end }}
</section>
