{{ $showImages := default false (.Scratch.Get "showImages") }}
{{ $showNotes := default false (.Scratch.Get "showNotes") }}
{{ $showHighlights := default false (.Scratch.Get "showHighlights") }}

<li class="book {{ cond $showImages "with-image" ""}}">


  {{ if $showImages }}
    {{ $img := (.Resources.GetMatch "cover") }}
    {{ $img := $img.Resize "400x q80"}}
    {{ if $img }}
      <img loading="lazy" src="{{ $img.Permalink }}" alt="Cover for {{ .Params.book.title}}" />
    {{ end}}
  {{ end }}

  {{ with .Params.book }}
    <h4 class="book-title">
      {{ if not $showImages }}
        <span class="glasses-icon"></span>
      {{ end }}
      {{ if isset . "url" }}
        <a href="{{ .url }}">{{ .title }}</a>
      {{ else }}
        {{ .title }}
      {{ end }}
    </h4>
  {{ end }}

  {{ with .Params.book }}

    <p class="book-author">by {{ .author }}</p>

    {{ if $showImages }}
      {{ if (and (isset . "publisher") (isset . "publish_year")) }}
        <p class="book-publisher"><em>Copyright {{ .publish_year }}, {{ .publisher }}</em></p>
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if .Params.categories }}
    <p class="book-category">{{ delimit .Params.categories ", " }}</p>  
  {{ end }}

  {{ with .Params.book }}

    {{ if isset . "times_read" }}
      <p class="book-reread">({{ .times_read }} time reading)</p>
    {{ end }}

  {{ end }}

  {{ if $showHighlights }}
    {{ if .Params.highlights }}
      <p class="book-highlights"><a href="{{ .Permalink }}">My highlights</a></p>
    {{ end }}
  {{ end }}

  {{ if (and .Params.notes $showNotes) }}
    {{ $page := .Params.notes }}
    {{ with .GetPage "/wrote" }}
    {{ with .GetPage $page }}
    <p class="book-notes"><a href="{{ .Permalink }}">My reading notes</a></p>
    {{ end }}
    {{ end }}
  {{ end }}
</li>
