{{/* $pages := .Site.GetPage "section" "read" */}}
{{ $current := .Title }}

<div class="category-nav">
  <p>See other years or based on categories:</p>  

  <ul class="years">
    {{ range .Pages.ByTitle.Reverse }}
      {{ if eq $current .Title }}
        <li class="active">{{ .Title }}</li>
      {{ else }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>

  {{ if .Scratch.Get "showTaxonomies" }}
  <ul class="years">
    {{ range .Site.Taxonomies.categories }}
        {{ if eq $current .Page.Title }}
          <li class="active">{{.Page.Title}}</li>
        {{ else }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
    {{ end }}
  </ul>
  {{ end }}
</div>