{{ $showImages := (.Scratch.Get "showImages")}}
{{ .Scratch.Set "showImages" $showImages }}
{{ .Scratch.Set "showNotes" true }}
<section id="reading">
  <h2>Recently read</h2>

  <ul>
  {{ $pages := where .Site.Pages "Params.category" "reading" }}
  {{ range first 12 $pages.ByDate.Reverse }}
    {{ .Scratch.Set "showImages" true }}
    {{ .Scratch.Set "showNotes" true }}
    {{ partial "read/book.html" . }}
  {{ end }}
  
  <!-- { range $pages }}
  { printf "%#v" $pages }}

    
  { end }} -->
  </ul>
  <div class="actions">
    <a href="/read">Full reading archives</a>
  </div>
</section>
