{{ define "main" }}

<section class="post-header">
  <h2>{{ .Title }}</h2>
  <p class="post-date"><em>Published <time
        datetime="{{ dateFormat "2006-02-01" .Date }}">{{ dateFormat "Jan 2, 2006" .Date }}</time></em></p>
</section>

{{ $hasBook := isset .Page.Params "linked_book" }}
<article class="{{ cond $hasBook "with-book" "without-book" }}">

  {{ if $hasBook }}
  <ul class="post-book">
    {{ $title := .Page.Params.linked_book }}
    {{ $book := where (where .Site.Pages "Section" "read") "Title" "==" $title }}
    {{ range $book }}
      {{ .Scratch.Set "showImages" true }}
      {{ .Scratch.Set "showNotes" false }}
      {{ partial "read/book.html" . }}
    {{ end }}


  </ul>
  {{ end }}

  {{ .Content }}

  {{ if isset .Params "references" }}
  <div class="post-references">
    <h3>References</h3>
    <ul>
      {{ range .Params.references }}
      <li><a href="{{ .url }}">{{ .title }}</a></li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</article>

{{ partial "read/recent-books" . }}

{{ end }}
