
{{/*  First, get the image  */}}

{{- $blankImg := resources.Get "/share/share-building.jpg" -}}
{{ $blankImg = $blankImg.Fit "1280x680" -}}
{{/*  {{ $blankImg = $blankImg.Filter (images.GaussianBlur 5) }}  */}}
{{/*  Assign it to the variable we will return no matter what  */}}
{{- $outputImg := $blankImg -}}

{{/*  gets modified if a book  */}}
{{- $headline := .Title -}}

{{/*  Assign it to the operating variable  */}}
{{- $shareImg := $outputImg -}}{{/* fallback if not Home */}}

{{/*  Add site url */}}
{{- $fontSite := resources.Get "/fonts/Gotham-Book.otf" -}}
{{- $preamble := "WINSTONHEARN.COM"  -}}    
{{- $preambleOpts := (dict
    "color" "#222222"
    "size" 30
    "alignx" "right"
    "aligny" "bottom"
    "linespacing" 10
    "font" $fontSite
    "x" (sub $shareImg.Width 25 | int)
    "y" (mul $shareImg.Height 0.81 | int)
)}}

{{/*  for whatever reason, filters only work once  */}}
{{- $preambleImg := $shareImg }}
{{/*  Add the text  */}}
{{- $preambleImg = $preambleImg.Filter (images.Text $preamble $preambleOpts) }}

{{- $shareImg = $preambleImg }}


	{{- if .IsHome }}
		{{/* */}}
    {{- else if compare.Eq .Kind "section"}}
    {{/* */}}
    {{- else if compare.Eq .Kind "term"}}
    {{/* */}}
    {{- else if compare.Eq .Kind "taxonomy"}}
    {{/* */}}
	{{- else }} {{/* content pages */}}

        {{- $workingImg := $shareImg }}
        {{- $fontHed := resources.Get "/fonts/Made Sunflower.otf" -}}

        {{- $titleX := 25 }}
		{{- $titleSize := 120 -}}{{/* pixels */}}
		{{- if gt (len $.Title) 40 -}}
			{{- $titleSize = 100 -}}
		{{- end -}}

        {{/*  BOOK PAGES  */}}
        {{- if eq .Section "read"}}
            {{ $cover := (.Resources.GetMatch "cover") }}
            {{ $cover = $cover.Resize "250x"}}
            {{ $cover = $cover.Filter (images.Padding 3 3 "#ffffff") }}

            {{ $coverPadding := 20}}
            {{ $workingImg = $workingImg.Filter (images.Overlay $cover $coverPadding $coverPadding) }}

            {{/*  default to 100 for book titles  */}}
            {{ $titleSize = 100 }}
            {{ $titleX = 300 }}

        {{/*  ALL OTHER CONTENT PAGES  */}}
        {{ else }}

            {{- $date := .Date | time.Format ":date_medium" }}
            {{- $date = print "Published " $date }}
            {{- $siteOpts := (dict
                "color" "#222222"
                "size" 35
                "alignx" "right"
                "aligny" "bottom"
                "font" $fontSite
                "x" (sub $shareImg.Width 25 | int)
                "y" (mul $shareImg.Height 0.75 | int)
            )}}
            {{/*  "x" (mul $workingImg.Width 0.99 | int)  */}}

            {{- $workingImg = $workingImg.Filter (images.Text $date $siteOpts) }}

        {{- end }}

        {{- $headlineOpts := (dict
			"color" "#222222"
			"size" $titleSize
			"alignx" "left"
			"aligny" "top"
			"linespacing" 5
			"x" $titleX
			"y" 25
			"font" $fontHed
		)}}

        {{/*  add the Headline to the image  */}}
		{{- $workingImg = $workingImg.Filter (images.Text $headline $headlineOpts) }}

        {{ $shareImg = $workingImg }}

	{{- end }}

{{ $outputImg = $shareImg }}

{{ return $outputImg }}