{{ define "main" }}

{{ $pages := .Site.GetPage "section" "read"}}
{{ $active := .Title }}

<section id="reading">
  <h2 class="small-header">All books tagged "{{ .Title }}"</h2>
  {{ partial "read/category-nav.html" . }}  

  <h3>{{ .Title }} ({{ .Pages | len }} books)</h3>

  {{ $showImages := true }}
  <ul>
    {{ range .Pages }}
    {{ .Scratch.Set "showImages" $showImages }}
    {{ .Scratch.Set "showNotes" true }}
    {{ .Scratch.Set "showHighlights" (isset .Params "highlights") }}
    {{ partial "read/book.html" . }}
    {{ end }}
  </ul>

  {{ partial "read/category-nav.html" . }}  
</section>

{{ end }}
