{{ define "main" }}

{{ $pages := .Site.GetPage "section" "read"}}
{{ $active := .Title }}

<section id="reading">
  <h2>All books tagged with {{ .Title }}</h2>
  <div class="reading-nav">
    <p>See other years or based on categories:</p>
    <ul class="years">
    {{ range $pages.Sections.ByTitle.Reverse }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
    <ul class="years">
      {{ range .Site.Taxonomies.categories }}
        {{ if eq $active .Page.Title }}
          <li><strong>{{.Page.Title}}</strong></li>
        {{ else }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>

  <h3>{{ .Title }} ({{ .Pages | len }} books)</h3>

  {{ $showImages := true }}
  <ul>
    {{ range .Pages }}
    {{ .Scratch.Set "showImages" $showImages }}
    {{ .Scratch.Set "showNotes" true }}
    {{ .Scratch.Set "showHighlights" (isset .Params "highlights") }}
    {{ partial "read/book.html" . }}
    {{ end }}
  </ul>

  <div class="reading-nav">
    <p>See other years or based on categories:</p>
    <ul class="years">
    {{ range $pages.Sections.ByTitle.Reverse }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
    <ul class="years">
      {{ range .Site.Taxonomies.categories }}
        {{ if eq $active .Page.Title }}
          <li><strong>{{.Page.Title}}</strong></li>
        {{ else }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</section>

{{ end }}
