{{ define "main" }}

<section id="reading">
  <h2>My reading history related to {{ .Title }}</h2>
  <div class="reading-nav">
    <p>Below are all the years of reading logs I have available right now!</p>
    <ul class="years">
      {{ $current := .Title }}
      {{ $pages := .Site.GetPage "section" "read"}}
      {{ range $pages.Sections.ByTitle.Reverse }}
      <li>
        {{ if eq .Title $current }}
        {{ .Title }}
        {{ else }}
        <a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
  </div>

  <h3>{{ .Title }} ({{ .Pages | len }} books)</h3>

  {{ $showImages := true }}
  <ul>
    {{ range .Pages }}
    {{ .Scratch.Set "showImages" $showImages }}
    {{ .Scratch.Set "showNotes" true }}
    {{ .Scratch.Set "showHighlights" (isset .Params "highlights") }}
    {{ partial "read/book.html" . }}
    {{ end }}
  </ul>

  </ul>
</section>

{{ end }}
