{{ define "main" }}

  <section class="post-header">
    <h2>{{ .Title }}</h2>
    <p>Posted {{ .Date.Format "Jan 1, 2018" }}</p>
  </section>

  {{ $hasBook := isset .Params "linked_book" }}
    {{ if $hasBook }}
    <ul class="post-book">
      {{ $book := .Params.LinkedBook }}
      {{ with .GetPage "reading" }}
          {{ with .GetPage $book }}
            {{ .Scratch.Set "showImages" true }}
            {{ .Scratch.Set "showNotes" false }}
            {{ partial "reading/book.html" . }}
          {{ end }}
      {{ end }}
    </ul>
  {{ end }}

  <article class="{{ cond $hasBook "with-book" "without-book" }}">
    {{ .Content }}
  </article>

  {{ partial "reading/recent-books" . }}

{{ end }}
