{{ define "main" }}

  <section class="post-header">
    <h2>{{ .Title }}</h2>
    <p class="post-date">Posted {{ dateFormat "Jan 1, 2006" .Date }}</p>
  </section>

  {{ $hasBook := isset .Params "linked_book" }}
  <article class="{{ cond $hasBook "with-book" "without-book" }}">

    {{ if $hasBook }}
    <ul class="post-book">
      {{ $book := .Params.Linked_book }}
      {{ with .GetPage "reading" }}
      {{ with .GetPage $book }}
      {{ .Scratch.Set "showImages" true }}
      {{ .Scratch.Set "showNotes" false }}
      {{ partial "reading/book.html" . }}
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}

    {{ .Content }}
  </article>

  {{ partial "reading/recent-books" . }}

{{ end }}
