{{ define "main" }}

<section class="writing-section">
  <h2 class="small-header">All posts</h2>
  
  {{ $pages := .Site.GetPage "section" "wrote"}}
  {{ $menu := dict 
    "years" $pages.Pages.ByTitle.Reverse 
    "categories" (where .Site.Taxonomies.tags "Page.Section" "wrote") 
    "active" .Title }}

  {{ partial "shared/category-nav.html" $menu }}  

  <h3 class="archive-title">{{ .Title }} ({{ .Pages | len }} posts)</h3>

  <ul class="post-previews">
    {{ range .Pages }}
    {{ .Scratch.Set "minimal" false }}
    {{ partial "wrote/single-post.html" . }}
    {{ end }}
  </ul>
</section>

{{ end }}

