{{ define "main" }}

{{ $showImages := true }}
{{ $pages := .Site.GetPage "section" "read"}}

<section id="reading">
  <h2>All books I have logged</h2>

  <div class="reading-nav">
    <p>See other years or based on categories:</p>
    <ul class="years">
			{{ range $pages.Sections.ByTitle.Reverse }}
      {{ $active := eq "All books" .Title }}
      <li>
        {{ if $active }}
          <strong>{{ .Title }}</strong>
        {{ else }}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
				{{ end }}
			</li>
    {{ end }}
    </ul>
    <ul class="years">
      {{ range .Site.Taxonomies.categories }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
      {{ end }}
    </ul>
  </div>

  {{ range $pages.Sections.ByTitle.Reverse }}
    {{ if eq .Title "All books"}}
        <!-- no output for the all books -->
    {{ else }}
        <h3 id="{{ .Title }}">{{ .Title }} ({{ .Pages | len }} books)</h3>

        <ul class="book-list" id="year-{{ .Title }}">
        {{ range .Pages }}
        {{ .Scratch.Set "showImages" $showImages }}
        {{ .Scratch.Set "showNotes" true }}
        {{ .Scratch.Set "showHighlights" (isset .Params "highlights") }}
        {{ partial "read/book.html" . }}
        {{ end }}
        </ul>
    {{ end }}
  {{ end }}

  <div class="reading-nav">
    <p>See other years or based on categories:</p>
    <ul class="years">
			{{ range $pages.Sections.ByTitle.Reverse }}
      {{ $active := eq "All books" .Title }}
      <li>
        {{ if $active }}
          <strong>{{ .Title }}</strong>
        {{ else }}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
				{{ end }}
			</li>
    {{ end }}
    </ul>
    <ul class="years">
      {{ range .Site.Taxonomies.categories }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
      {{ end }}
    </ul>
  </div>
</section>

{{ end }}
