{{ define "main" }}

{{ $showImages := true }}
{{ $pages := .Site.GetPage "section" "read"}}

{{ $menu := dict 
  "years" $pages.Pages.ByTitle.Reverse 
  "categories" .Site.Taxonomies.categories 
  "active" .Title }}

<section id="reading">

  <h2 class="small-header">All books I have logged</h2>
  {{ partial "shared/category-nav.html" $menu }}

  {{ range $pages.Sections.ByTitle.Reverse }}
    {{ if eq .Title "All books"}}
        <!-- no output for the all books -->
    {{ else }}
        <h3 id="{{ .Title }}">{{ .Title }} ({{ .Pages | len }} books)</h3>

        <ul class="book-list" id="year-{{ .Title }}">
        {{ range .Pages }}
        {{ .Scratch.Set "showImages" $showImages }}
        {{ .Scratch.Set "showNotes" true }}
        {{ .Scratch.Set "showHighlights" (isset .Params "highlights") }}
        {{ partial "read/book.html" . }}
        {{ end }}
        </ul>
    {{ end }}
  {{ end }}

  {{ partial "shared/category-nav.html" $menu }}  
</section>

{{ end }}
