{{ define "main" }}

{{ $showImages := true }}
{{ $pages := .Site.GetPage "section" "read"}}

<section id="reading">
  <h2>What I've been reading</h2>

  <div class="reading-nav">
  <p>This page is what I've read this year, see below for past years.</p>
  <ul class="years">
  {{ range $pages.Sections.ByTitle.Reverse }}
    {{ $active := eq (now.Format "2006") .Title }}
    <li>
      {{ if $active }}
        {{ .Title }}
      {{ else }}
        <a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
  {{ end }}
  </ul>
  </div>

  {{ range first 1 .Pages }}


    <h3>{{ .Title }} ({{ .Pages | len }} books)</h3>

    <ul class="book-list" id="year-{{ .Title }}">
      {{ range .Pages }}
      {{ .Scratch.Set "showImages" $showImages }}
      {{ .Scratch.Set "showNotes" true }}
      {{ .Scratch.Set "showHighlights" (isset .Params "highlights") }}
      {{ partial "read/book.html" . }}
      {{ end }}
    </ul>
  {{ end }}

  </ul>
</section>

{{ end }}
