{{ define "main" }}


{{ $indexPage := "reading" }}
{{/*  this is the main reading section page  */}}
<section id="reading">

  {{ if eq .Title $indexPage }}

  {{ $menu := dict 
    "years" .FirstSection.Sections.ByTitle.Reverse 
    "categories" .Site.Taxonomies.categories 
    "active" .Title }}

  <h2 class="small-header">What I've been reading</h2>
  
  {{ partial "shared/category-nav.html" $menu }} 
    {{/*  on the homepage, set the context to current year  */}}
    {{ range where .Sections "Title" (now.Format "2006") }}
      <h3>{{ .Title }} ({{ .Pages | len }} books)</h3>

      {{ $showImages := true }}

      <ul>
        {{ range .Pages }}
        {{ .Scratch.Set "showImages" $showImages }}
        {{ .Scratch.Set "showNotes" true }}
        {{ .Scratch.Set "showHighlights" (isset .Params "highlights") }}
        {{ partial "read/book.html" . }}
        {{ end }}
      </ul> 

      {{ if gt .Pages.Len 10 }}
        {{ partial "shared/category-nav.html" $menu }}  
      {{ end }}
    {{ end }}

  {{ else }}

  {{ $menu := dict 
    "years" .FirstSection.Sections.ByTitle.Reverse 
    "categories" .Site.Taxonomies.categories 
    "active" .Title }}

  <h2 class="small-header">{{printf "What I read in %s" .Title}}</h2>

  {{ partial "shared/category-nav.html" $menu }}  

      <h3>{{ .Title }} ({{ .Pages | len }} books)</h3>

      {{ $showImages := true }}

      <ul>
        {{ range .Pages }}
        {{ .Scratch.Set "showImages" $showImages }}
        {{ .Scratch.Set "showNotes" true }}
        {{ .Scratch.Set "showHighlights" (isset .Params "highlights") }}
        {{ partial "read/book.html" . }}
        {{ end }}
      </ul> 

      {{ if gt .Pages.Len 10 }}
        {{ partial "shared/category-nav.html" $menu }}  
      {{ end }}
    {{ end }}
</section>

{{ end }}