{{ define "main" }}

{{ $showImages := true }}
{{ $pages := .Site.GetPage "section" "read"}}
{{ $pages := $pages.Sections.ByTitle.Reverse }}

<section id="reading">
  <h2>What I've been reading</h2>
  {{ range $pages }}
  <h3>{{ .Title }} ({{ .Pages | len }} books)</h3>

  <ul>
    {{ range .Pages }}
    {{ .Scratch.Set "showImages" $showImages }}
    {{ .Scratch.Set "showNotes" true }}
    {{ .Scratch.Set "showHighlights" (isset .Params "highlights") }}
    {{ partial "read/book.html" . }}
    {{ end }}
  </ul>
  {{ end }}

  </ul>
</section>

{{ end }}
