{{ define "main" }}

{{ $pages := .Site.GetPage "section" "read"}}

<section id="reading">
  <h2 class="small-header">What I read in {{ .Title }}</h2>
  
  {{ .Scratch.Set "showTaxonomies" true }}
  {{ partial "read/category-nav.html" $pages }}  

  <h3>{{ .Title }} ({{ .Pages | len }} books)</h3>

  {{ $showImages := true }}
  <ul>
    {{ range .Pages }}
    {{ .Scratch.Set "showImages" $showImages }}
    {{ .Scratch.Set "showNotes" true }}
    {{ .Scratch.Set "showHighlights" (isset .Params "highlights") }}
    {{ partial "read/book.html" . }}
    {{ end }}
  </ul>

  {{ partial "read/category-nav.html" . }}  
</section>

{{ end }}