<li class="recommendation-post">
  <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
  {{ if .Description }}
    <p class="description">{{ .Description }}</p>
  {{ end }}
  <p></p>
  <a href="{{ .Permalink }}" class="book-covers">
    {{ range .Params.CoverBooks }}
    {{ $book := where (where $.Site.Pages "Section" "read" ) "Title" . }}
      {{ range first 1 $book }}
        {{ .Scratch.Set "showImages" true }}
        {{ .Scratch.Set "showNotes" false }}
        {{ .Scratch.Set "showHighlights" false }}
        {{ $img := (.Resources.GetMatch "cover") }}
        {{ $img := $img.Resize "300x q80"}}
        {{ if $img }}
          <div class="image-wrapper">
            <img loading="lazy" src="{{ $img.Permalink }}" alt="Cover for {{ .Params.book.title}}" />
          </div>
        {{ end}}
      {{ end }}
    {{ end }}
  </a>
  <time datetime="{{ dateFormat "2006-02-01" .Date }}"><em>Last updated {{ dateFormat "January 2, 2006" .Lastmod }}</em></time>
</li>