@use "sass:color";
@use "variables";

#bio {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  z-index: 10;
  margin-bottom: 2rem;


  @include variables.dark-mode {
    border-color: color.invert(variables.$background);
  }

  &.footer {
    border-left: 2px dotted variables.$flourish;
    border-right: 2px dotted variables.$flourish;
    // border-radius: 8px;
    padding: 1rem;
  }

  .site-description {
    font-weight: 400;
    font-size: 16px;
    z-index: 10;
    margin-bottom: 0;
  }

  @media screen and (min-width:768px) {
    width: 100%;
    border-bottom: 20px solid color.adjust(variables.$background, $lightness: 5%);

    @include variables.dark-mode {
      border-bottom: 20px solid color.invert(variables.$background);
    }

    .site-description {
      width: 40%
    }
  }

}
