@use "sass:color";
@use "variables";

.category-nav {
  position: relative;
  width: 100%;
  margin-bottom: 2em;

  p {
    font-size: 16px;
    margin-bottom: .4em;
    color: variables.$text;

    @include variables.dark-mode {
      color: color.invert(variables.$text);
    }

    @media screen and (min-width:768px) {
      margin-left: 1em;
    }
  }

  .years {
    // width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: .4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    @media screen and (min-width:768px) {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    li {
      margin: 0.2em .4em;
      margin-left: 0;
      font-size: 16px;
      border: 1px dotted variables.$links;
      border-radius: 8px;
      padding: .3rem;

      &:hover {
        border: 1px solid variables.$links;
      }

      &.active {
        border: 1px solid variables.$text;
        opacity: .8;
      }

      a {
        border-bottom: none;
      }
    }
  }
}