@use "variables";

.shared blockquote {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1em;

  @media screen and (min-width: 768px) {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.showcasing-excerpts > p {
  @media screen and (min-width:768px) {
    max-width: 75%;
    margin: 0 auto;
  } 
}

.shared article hr {
  margin: 3em;
  color: variables.$flourish;
}

.recommendations {
  h2 {
    margin-bottom: 1em;
  }

  > p {
    font-size: 18px;
    margin-bottom: 3em;
  }

  .highlighted {
    display: flex;
    margin-bottom: 1em;
    flex-wrap: wrap;
  }

  .highlighted li {
    flex: 1 1 100%;
    margin-bottom: 2em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  .recommendation {
    position: relative;
    flex: 1 1 100%;
    margin-bottom: 2em;

    h3 {
      margin-bottom: 1em;
      font-size: 18px;
      line-height: 1.5;
    }

    @media screen and (min-width: 768px) {
      flex: 1 1 50%;
      max-width: 45%;
      margin-right: 5%;


      h3 {
        font-size: 21px;
      }
    }

  }

}
