@use "sass:color";
@use "variables";

.writing-section {
  display: flex;
  z-index: 10;
  margin-bottom: 3rem;

  .archive-title {
    display: flex;
    flex: 1 1 100%;
    margin-bottom: 1em;
    border-bottom: 1px dotted variables.$flourish;
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    font-size: 2rem;
  }

  .post-link {
    margin-bottom: .69em;
    line-height: 1.4;
  }

  @media screen and (min-width: 768px) {
    h3 {
      font-size: 2rem;
    }

    .post-link {
      margin-bottom: 2em;
    }
  }


  &.featured-recent {
    flex: 1 1 100%;
    flex-wrap: wrap;
    margin-bottom: 2em;

    .post-link {
      margin-bottom: 2em;

      &:after {
        content: '';
        border-bottom: 2px solid color.adjust(variables.$background, $lightness: 5%);
        width: 69%;
        display: block;
        margin-left: -8px;
        margin-top: 1em;
      }

      &:last-child:after {
        display: none;
      }
    }

    h3 {
      font-size: 2rem;
      line-height: 1.5
    }

    @media screen and (min-width: 768px) {

      .post-link {
        width: 45%;
        margin-right: 8%;
        margin-left: 1%;
        margin-bottom: 3rem;

        &:after {
          display: none;
        }

        &:nth-child(even) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }


  .post-link {

    > * {
      margin-bottom: .6rem;
    }

    time {
      font-size: 12px;
      font-style: italic;
    }

  }

}

.writing-archives {
  .writing-section {
    flex-wrap: wrap;
  }
  
  .post-previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    li {
      display: flex;
      align-self: flex-start;
      flex: 1 100%;
      flex-wrap: wrap;
      margin-bottom: 4em;
      padding-right: 1em;
      position:relative;

      @media screen and (min-width:768px) {
        flex: 1 50%;
        padding-right: 3em;
      }
    }
  }

  time {
    flex: 1 100%;
  }

}

body.tags .writing-section {
  flex-direction: column;
}

body.tags .recommendations {
  display: flex;
  flex-direction: column;
}