#bio {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  z-index: 10;
  margin-bottom: 2rem;
  border-bottom: 4px solid lighten($background, 5%);

  @include dark-mode {
    border-color: invert($background);
  }

  .site-description {
    font-weight: 400;
    font-size: 16px;
    z-index: 10;
  }

  @media screen and (min-width:768px) {
    width: 100%;
    border-bottom: 20px solid lighten($background, 5%);

    @include dark-mode {
      border-bottom: 20px solid invert($background);
    }

    .site-description {
      width: 40%
    }
  }

}
