#bio {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 340px;
  width: 100%;

  &:after {
    content: "";
    height: 1px;
    margin-top: 13px;
    background-color: $purple;
    margin-left: calc(55vw - 8px);
    width: 40vw;
    display: block;
    transform: rotate(-5deg);
  }

  h1 {
    font-size: 34.5px;
    margin-bottom: 3px;
  }

  .site-subtitle {
    font-size: 20px;
    color: $purple;
    font-style: italic;
    margin:0;
    margin-bottom: 34px;
    padding-left: 2em;
  }

  .site-description {
    font-weight: 400;
    font-size: 13.8px;
    padding: 0 1em;
    color: #555;
    font-style: italic;
  }

  @media screen and (min-width:768px) {
    height: 300px;

    &:after {
      margin-left: 0;
      margin-top: 23px;
    }

    h1 {
      font-size: 69px;
      width: 100%;
    }

    .site-subtitle {
      font-size: 25px;
      width: 100%;
      text-align: right;
      margin-right: 45%;
    }

    .site-description {
      width: 60%
    }
  }

  &.minimal {
    height: auto;
    margin: 2em 0;

    @media screen and (min-width:768px) {
      height: 350px;
    }
  }

}
