.book {
  img {

    width: 80%;
    margin-bottom: 13.8px;
  }

  .book-title {
    margin-bottom: 13.8px;
  }

  .book-notes {

  }

  .book-author {
    margin-bottom: 13.8px;
  }

  .book-publisher {
    margin-bottom: 13.8px;
    font-size: 11.5px;
  }
}
