.book {
  flex: 1 1 100%;
  margin-bottom: .69em;
  margin-left: 30px;
  position: relative;

  @media screen and (min-width: 500px) {
    flex: 1 1 47%;
    max-width: 47%;
  }

  @media screen and (min-width: 650px) {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 1.5em;
  }

  @media screen and (min-width: 900px) {
    flex: 1 1 25%;
    max-width: 25%;
  }

  .glasses-icon {
    background: no-repeat url(/img/glasses.svg) 100% center;
    background-size: 100%;
    display: inline-block;
    position: absolute;
    left: -35px;
    top: 10px;
    width: 25px;
    height: 10px;
    fill: #fff;
    margin-right: 5px;
    transform: rotate(-9deg);
  }

  .book-title {
    line-height: 1.5;
    margin-bottom: 13.8px;
    font-size: 18px;

    a {
      font-weight: 700;
    }
  }

  .book-notes {
    margin-bottom: 1em;
  }

  .book-author {
    font-weight: 300;
    font-size: 14px;
    margin-left: .5em;
    margin-bottom: 5px;
  }

  .book-publisher {
    margin-bottom: 13.8px;
    font-size: 11.5px;
  }

  &.with-image {
    margin: 1em 1em 2em;

    &:after {
      content: "";
      position: absolute;
      width: 70%;
      border-top: 2px dotted $headers;
      left: 15%;
      bottom: -1em;
    }

    @media screen and (min-width: 500px) {
      margin: 0;
      margin-bottom: 2em;
    }

    @media screen and (min-width: 650px) {
      padding-right: 1em;
      margin: 0;
      margin-bottom: 3em;

      &:after {
        display: none;
      }
    }

    img {
      max-width: 60%;
      margin-left: 20%;
      margin-bottom: 1em;
    }

    @media screen and (min-width: 650px) {
      img {
        max-width: 80%;
        margin-left: 0;
        max-height: 282px;
      }
    }

    .book-author {
      margin-left: 0;
    }
  }
}
