@use "sass:color";
@use "variables";

// font-family: 'Lora', serif;
// font-family: 'PT Sans Narrow', sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: color.adjust(variables.$background, $lightness: 5%);

  @include variables.dark-mode {
    background-color: color.invert(variables.$background);
  }
}

html,
body,
body * {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: variables.$text;

  @include variables.dark-mode {
    color: color.invert(variables.$text);
  }

  code {
    font-family: monospace;
    padding: 1em;
    overflow-wrap: anywhere;
  }
  code * {
    font-family: monospace;
    color: #c6d0f5;
    line-height: 1.2;
    
  }
}


sup {
  vertical-align: super;
  font-size: 12px;
  
  a {
    padding: 0 2px;
    margin: 0 2px 0 1px;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Geologica', sans-serif;
  font-weight: 100;
  line-height: 1.5;

  :after {
    content: "";
    display: table;
    clear: both;
  }
}

h2,
.small-header {
  color: variables.$headers;
  position: relative;
  font-size: 30px;
  margin-bottom: 34.5px;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    width: 110%;
    border-bottom: 3px dotted variables.$headers;
    bottom: -13px;
    display: block;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    border-bottom: 3px solid variables.$headers;
    width: 31%;
    display: block;
  }

  @include variables.dark-mode {
    color: color.invert(variables.$headers);

    &:before {
      border-bottom: 3px dotted color.invert(variables.$headers);
    }

    &:after {
      border-bottom: 3px solid color.invert(variables.$headers);
    }

  }
}

.small-header {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
    margin-bottom: 69px;
  }

  .small-header {
    font-size: 22px;
  }
}

p {
  font-size: 18px;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 20px;
    line-height: 1.4;
  }
}

a {
  color: variables.$links;
  text-decoration: none;
  border-bottom: 2px dotted variables.$links;
  padding-bottom: 0;
  transition: padding-bottom .1s ease-out;

  &:active,
  &:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid variables.$links;
  }

  &:visited {
    border-bottom: 2px solid variables.$links;
  }

  @include variables.dark-mode {
    color: color.invert(variables.$links);

    &:active,
    &:hover,
    &:visited {
      border-color: color.invert(variables.$links);
    }
  }
}


blockquote {
  border-left: 10px solid variables.$flourish;
  padding-left: 5px;
}

*:focus {
  outline: variables.$links dotted 2px;
  outline-offset: 2px;
  border-bottom: none;

  @include variables.dark-mode {
    outline: color.invert(variables.$links) dotted 2px;
  }
}

.content {
  max-width: 1072px;
  width: 100%;
  margin: 0 auto 3rem;
  padding: 0;
  overflow: hidden;
  // background-color: $background;

  @include variables.dark-mode {
    background-color: color.invert(variables.$background);
  }
}

#page-content {
  padding: 8px;
}

@media screen and (min-width: 768px) {
 #page-content {
    padding: 24px;
  }
}

.actions {
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
  margin-top: 1em;
  margin-right: 3em;
  margin-bottom: 2em;
  min-height: 30px;
  align-items: flex-start;

  :after {
    content: "";
    display: table;
    clear: both;
  }
}
