* {
  box-sizing: border-box;
}

body {
  background-color: $background;
}

html,
body,
body * {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  color: $text;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Nanum Gothic', sans-serif;

  :after {
    content: "";
    display: table;
    clear: both;
  }
}

h2,
.small-header {
  color: $headers;
  position: relative;
  font-size: 30px;
  margin-bottom: 34.5px;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    width: 110%;
    border-bottom: 3px dotted $headers;
    bottom: -13px;
    display: block;
  }


  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    border-bottom: 3px solid $headers;
    width: 31%;
    display: block;
  }
}

.small-header {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
    margin-bottom: 69px;
  }

  .small-header {
    font-size: 22px;
  }
}

p {
  font-size: 18px;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 23px;
    line-height: 1.4;
  }
}

a {
  color: $links;
  text-decoration: none;
  border-bottom: 2px dotted $links;
  padding-bottom: 0;
  transition: padding-bottom .1s ease-out;

  &:active,
  &:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid $links;
  }

  &:visited {
    border-bottom: 2px solid $links;
  }
}

*:focus {
  outline: $links dotted 2px;
  outline-offset: 2px;
  border-bottom: none;
}

.content {
  max-width: 1072px;
  width: 100%;
  margin: 0 auto 3rem;
  padding: 0 8px;
  overflow: hidden;
}

@media screen and (min-width:600px) {
  .content {
    padding: 0 24px;
  }
}

footer {
  margin: 2em 0 4em;
}

.credits {
  font-size: 10px;
}

.actions {
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
  margin-top: 1em;
  margin-right: 3em;
  padding-bottom: 2em;
}
