.winstons-homepage {

  #page-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .full-archives {
    display: none;
  }

  @media screen and (min-width: 768px){

    .writing-section.full-archives {
      display: flex;
      flex: 1 1 50%;
      padding-top: 3rem;
      margin-right: 0;
      padding-right: 5%;

      li {
        margin-bottom: .5em;
      }
    }
  }

  .recommendations {
    width: 100%;
    background-color: #251b2d;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
  }

  #reading {
    background: linear-gradient(to bottom, #251b2d, $background);
    padding: 3rem 1em 1em;
  }

  @media screen and (min-width: 768px){
    .recommendations {
      padding: 2rem;
    }

    #reading {
      padding: 3rem 2rem 1em;
    }
  }

}
