@use "sass:color";
@use "variables";

.content nav {
  padding: 34.5px 8px 17.25px;
  margin: 0;
  display: block;
  justify-content: center;
  align-content: space-between;
  background: color.adjust(variables.$background, $lightness: 5%);
  border-bottom: 1px dotted variables.$flourish;

  @include variables.dark-mode {
    background: color.invert(variables.$background);
  }

  @media screen and (min-width: 600px) {
    // border-bottom: 10px solid lighten($background, 5%);
    padding: 69px 24px 0;
    display: flex;
  }

  .left-nav {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
  }

  .site-title {
    font-size: 30px;
    position: relative;
    padding-right: 10px;
    color: variables.$links;
    line-height:1;

    @include variables.dark-mode {
      color: color.invert(variables.$links);
    }

    // a {
    //   font-family: 'Nanum Myeongjo', serif;
    //   font-weight: 700;
    // }

    a:link,
    a:visited {
      color: variables.$links;

      @include variables.dark-mode {
        color: color.invert(variables.$links);
      }
    }

    a:hover,
    a:active {
      border-bottom: 1px solid variables.$purple;

      @include variables.dark-mode {
        border-color: color.invert(variables.$purple);
      }
    }

    a:after {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    .site-title:before {
      display: none;
    }
  }

  .site-subtitle {
    font-size: 25px;
    width: 100%;
    display: block;
    margin-top: -10px;
    margin-left: 2em;
    margin-bottom: 2rem;
    color: variables.$accent;
    // color: red;
    opacity: .5;

    @include variables.dark-mode {
      border-color: variables.$accent;
      opacity: 1;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em;
    margin-left: -.6em;
    margin-right: -.6em;
    padding: .6em;

    li {
      margin: auto;
      margin-bottom: 1em;
      flex: 1 auto;
    }
  }

  @media screen and (min-width: 600px) {
    ul {
      margin:0;
      padding: 0;
      justify-content: flex-end;
      background-color: transparent;

      li {
        flex: auto;
        margin: 0;
      }
    }
  }

  a {
    text-decoration: none;
    color: variables.$links;
    position:relative;
    padding-right: 10px;
    border-bottom: none;

    &:active,
    &:hover,
    &:visited,
    &:focus {
      border-bottom: none;

      &:after {
        height:3px;
      }
    }

    &:after {
      content: "";
      height: 1px;
      bottom: -5px;
      right: 0;
      background-color: variables.$links;
      width: 100%;
      display: block;
      position: absolute;
      transform: rotate(-3deg);
      transition: height .1s ease-out;

      @media screen and (min-width: 600px) {
        right: auto;
        left: 0;
      }
    }

    &:visited {
      color: variables.$links;
    }

    @include variables.dark-mode {
      color: color.invert(variables.$links);

      &:after,
      &:visited {
        background-color: color.invert(variables.$links);
      }
    }
  }

  .active a {
    font-weight: 800;


    &:after {
      height: 3px;
    }
  }
}
