.reading {

  h2 {
    margin-bottom: 69px;
  }

}

#reading ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

#reading .book {
  flex: 1 1 100%;
  margin-bottom: 2em;
}

@media screen and (min-width: 500px) {
  #reading .book {
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 650px) {
  #reading .book {
    flex: 1 1 33%;
  }
}

@media screen and (min-width: 900px) {
  #reading .book {
    flex: 1 1 25%;
  }
}
