@use "variables";

#reading {

  .categories {
    border-bottom: 1px solid rgba(variables.$purple, .5);
  }

  h2 {
    margin-bottom: 69px;
  }

  h3 {
    margin-bottom: 34.5px;
    font-size: 22px;
    text-align: center;
    display: flex;
    flex: 1 1 100%;

    @media screen and (min-width: 650px) {
      text-align: left;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }

}

.recent-books {
  border-top: 3px solid variables.$flourish;
  margin-top: 2rem;
  padding: 2rem 1rem 1rem;
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.read hr {
  margin: 3em;
  color: variables.$flourish;
}

.reading-highlights > p {
  @media screen and (min-width:768px) {
    max-width: 75%;
    margin: 0 auto;
  } 
}