#reading {

  h2 {
    margin-bottom: 69px;
  }

  h3 {
    margin-bottom: 34.5px;
    text-align: center;

    @media screen and (min-width: 650px) {
      text-align: left;
    }
  }



  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }

}
