.writing-section {
  display: flex;
  z-index: 10;
  margin-bottom: 3rem;

  > ul {
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    font-size: 18px;
  }

  .post-link {
    margin-bottom: .69em;
    line-height: 1.4;
  }

  @media screen and (min-width: 768px) {
    h3 {
      font-size: 25px;
    }

    .post-link {
      margin-bottom: 2em;
    }
  }


  &.featured-recent {
    flex: 1 1 100%;
    flex-wrap: wrap;
    margin-bottom: 2em;

    .post-link {
      margin-bottom: 2em;

      &:after {
        content: '';
        border-bottom: 2px solid lighten($background, 5%);
        width: 69%;
        display: block;
        margin-left: -8px;
        margin-top: 1em;
      }

      &:last-child:after {
        display: none;
      }
    }

    h3 {
      font-size: 25px;
      line-height: 1.5
    }

    @media screen and (min-width: 768px) {

      .post-link {
        width: 45%;
        margin-right: 8%;
        margin-left: 1%;
        margin-bottom: 3rem;

        &:after {
          display: none;
        }

        &:nth-child(even) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }


  .post-link {

    > * {
      margin-bottom: .6rem;
    }

    time {
      font-size: 12px;
      font-style: italic;
    }

  }

}

.writing-archives .writing-section {
  flex-wrap: wrap;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  li{
    display: flex;
    align-self: flex-start;
    flex: 1 100%;
    flex-wrap: wrap;
    margin-bottom: 2em;
    padding-right: 1em;
    position:relative;

    @media screen and (min-width:768px) {
      flex: 1 50%;
      padding-right: 3em;
    }


    :after {
      position: absolute;
      bottom: 0;
      left: -.5em;
      width: 1em;
      height: 1em;
      border-left: 1px dotted $flourish;
      border-bottom: 1px dotted $flourish;

      @include dark-mode {
        border-left: 1px dotted invert($flourish);
        border-bottom: 1px dotted invert($flourish);
      }
    }
  }

  time {
    flex: 1 100%;
  }
}
