<footer>
    <p>Thanks for reading this web-blog, it means so much to me.</p>
    <ul class="footer-links">
        <li>&#169;2014-2019 Winston Hearn</li>
        <li><a href="/writing/index.xml">RSS Feed</a></li>
        <li><a href="https://github.com/wnstn/">github</a></li>
        <li><a href="https://twitter.com/suchwinston/">@suchwinston</a></li>
        <li><a href="mailto:hello+blog@wnstn.com">hello@wnstn.com</a></li>
    </ul>

    <div class="credits">Icons made by <a href="https://www.flaticon.com/authors/tutsplus" title="TutsPlus">TutsPlus</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
</footer>
