<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>winston the third</title>
  <meta name="description" content="{{ .Description }}">

  {{template "_internal/opengraph.html" . }}

  <meta name="twitter:site" content="@suchwinston" />
  <meta name="twitter:site:id" content="15059001" />

  {{ template "_internal/twitter_cards.html" . }}

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ $options := (dict "targetPath" "css/makeup.css" "enableSourceMap" true) }}
  {{ $style := resources.Get "sass/makeup.scss" | toCSS $options }}

  {{/*  false if building for production  */}}
  {{ if not (.Site.IsServer) }}
    {{ $style := $style | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css" media="screen">
  {{ else }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css" media="screen">
  {{ end }}

  {{ $built := resources.Get "js/index.js" | js.Build "main.js" }}

</head>
